{% extends "entries/layout.html" %}

{% load static %}

{% block title %}WordFeel{% endblock %}

{% block head %}
    <link href="{% static 'entries/styles-index.css' %}" rel="stylesheet">
    <script src="{% static 'entries/search.js' %}"></script>
{% endblock %}

{% block nav%}
{% endblock %}

{% block body %}
    <div class="search">
        <img class="logo" src="{% static 'wordfeel-brand-text.png' %}" height="200" width="515">
        <form class="d-flex field" role="search" action="{% url 'results' %}">
            <input class="form-control me-2 dropdown-toggle" autocomplete="off" id="searchToggle" data-bs-toggle="dropdown" aria-expanded="false" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-light" type="submit">Search</button>
            <div class="dropdown d-flex">
                <div class="dropdown-menu" id="searchSuggestions">
                </div>
            </div>
        </form>
        <p class="extra"><a href="{% url 'entries' %}" class="extra-in">Entries</a><span class="extra-in"> ・ </span><a href="{% url 'word_families' %}" class="extra-in">Word Families</a></p>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
